* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: lightblue;
}
.container {
  width: 400px;
  height: 200px;
  background-color: red;
  border-radius: 5px;
}
.title {
  font-size: 14px;
  border-bottom: 160px;
  margin: auto;
}
.desc {
  color: lightgray;
  font-size: 14px;
}
